html,
body,
#root {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 500;
	background-color: var(--background-app);
}

main {
	flex: 1;
	padding: 40px 0;
}
