.navigation {
	display: flex;
	justify-content: center;
	gap: var(--space-xl);
}

.button {
	display: inline-flex;
	align-items: center;
	gap: var(--space-sm);
	padding: 10px var(--space-xl);
	border-radius: var(--radius-lg);
	transition:
		color var(--transition-normal),
		background-color var(--transition-normal);
	color: var(--color-text);
}

.icon {
	display: block;
	color: var(--color-text);
	transition: color var(--transition-normal);
}

.button:hover .icon {
	color: var(--color-link);
}

.button:hover {
	color: var(--color-link);
	background-color: var(--color-surface-secondary);
}
