.navigation {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.button {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	transition: color 0.2s ease;
	padding: 10px 32px;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.icon {
	display: block;
	color: #000;
	transition: color 0.2s ease;
}
.button:hover .icon {
	color: var(--main-color);
}

.button:hover {
	color: var(--main-color);
	background-color: #f3f3f3;
}
