.button {
	font-size: 0.9rem;
	color: var(--color-link);
	transition:
		color var(--transition-fast),
		vartext-decoration (--transition-fast);
}

.button:hover {
	color: var(--color-link-hover);
	text-decoration: underline;
}
