.footer {
	background-color: var(--footer-color);
	color: #fff;
	padding-top: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.inner {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.logo {
}

.slogan {
	font-size: 1rem;
	font-weight: 400;
}

.info {
	font-size: 0.9rem;
	font-weight: 400;
	color: #8c8c8c;
}

.bottom {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-top: 1px solid #e6e6e61a;
	color: #8c8c8c;
	font-size: 0.9rem;
}

.left {
	display: flex;
	gap: 15px;
}

.right {
	display: flex;
	gap: 15px;
}

.socials {
	display: flex;
	align-items: center;
	gap: 15px;
}

.links {
	display: flex;
	gap: 8px;
}

.documents {
	transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
}

.documents:hover {
	color: var(--main-color);
}
