.footer {
	flex: 0 0 auto;
	background-color: var(--footer-color);
	color: var(--color-white);
	padding-top: var(--space-xl);
	border-top-left-radius: var(--radius-xl);
	border-top-right-radius: var(--radius-xl);
}

.inner {
	display: flex;
	flex-direction: column;
	gap: var(--space-lg);
}

.slogan {
	font-size: 1rem;
	font-weight: 400;
}

.info {
	font-size: 0.78rem;
	font-weight: 400;
	color: var(--color-gray-400);
}

.bottom {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: var(--space-sm);
	padding: var(--space-md) 0;
	border-top: 1px solid var(--color-primary-800);
	color: var(--color-gray-400);
	font-size: 0.9rem;
}

.left {
	display: flex;
	align-items: center;
	gap: var(--space-lg);
}

.right {
	display: flex;
	align-items: center;
}

.socials {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--space-sm);
}

.links {
	display: flex;
	gap: var(--space-xs);
}

.documents {
	transition: color var(--transition-normal);
}

.documents:hover {
	color: var(--color-link);
}

@media (min-width: 768px) {
	.bottom {
		flex-direction: row;
	}
	.socials {
		flex-direction: row;
		gap: var(--space-lg);
	}
}
