.layout {
	width: 100%;
}

.header {
	margin-bottom: var(--space-lg);
	padding-bottom: var(--space-md);
	border-bottom: 0.5px solid var(--color-border);
}

.list {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: var(--space-xs);
	margin-bottom: var(--space-xs);
}

@media (min-width: 768px) {
	.list {
		gap: var(--space-lg);
	}
}
