.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 56px;
	border-radius: 8px;
	padding: 16px 24px;
	background: #fff;
	box-shadow: 0px 4px 10px 0px #6a63761a;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.title {
	font-size: 1.2rem;
	line-height: 1.2;
	position: relative;
	padding-left: 16px;
}

.title::before {
	content: '';
	position: absolute;
	left: 0;
	top: 7px;

	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--main-color);

	display: block;
}

.show {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.body {
	height: 0;
	overflow: hidden;
	transition:
		height 0.3s ease,
		opacity 0.2s ease;
	opacity: 0;
}

.card[aria-expanded='true'] .body {
	opacity: 1;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}

.meta {
	display: flex;
	gap: 30px;
}

.meta__item {
	border-radius: 8px;
	padding: 6px 10px;
	gap: 10px;
	background-color: #f8f8f8;
}

.digit {
	margin-left: 6px;
	border-radius: 4px;
	padding: 0cqb 6px;
	background-color: var(--main-color);
	color: #fff;
}

.link {
	color: var(--main-color);
}

.link:hover {
	color: var(--main-color-hover);
}

.text {
	margin-top: 20px;
	line-height: 1.4;
}

.icon {
	transition: transform 0.25s ease;
}

.iconOpen {
	transform: rotate(180deg);
	transition: transform 0.25s ease;
}
