.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-xs);
	margin-top: var(--space-lg);
	font-size: 0.875rem;
	flex-wrap: wrap;
}

.button {
	min-width: 32px;
	height: 32px;
	padding: var(--space-xxs) var(--space-xs);
	border-radius: var(--radius-xs);
	background-color: transparent;
	color: var(--color-text);
	border: 1px solid transparent;
	transition:
		background-color var(--transition-fast),
		varborder-color (--transition-fast);
}

.button:hover:not(.active):not(:disabled) {
	background-color: var(--color-gray-50);
	border-color: var(--color-gray-200);
}

.list {
	display: flex;
	list-style: none;
	gap: var(--space-xxxs);
}

.active {
	color: var(--color-white);
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.ellipsis {
	cursor: default;
	color: var(--color-text-secondary);
	min-width: calc(var(--space-md) * 1.25);
	height: calc(var(--space-md) * 1.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.next,
.prev {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--space-md) * 1.75);
	width: calc(var(--space-md) * 1.75);
	padding: 0;
	border: 1px solid var(--color-primary);
	border-radius: var(--radius-full);
}

.arrow {
	color: var(--color-primary);
	transition:
		color var(--transition-fast),
		background-color var(--transition-fast);
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow:hover:not(:disabled) {
	color: var(--color-white);
	background-color: var(--color-primary);
}

.arrow:disabled {
	color: var(--color-gray-400);
	cursor: default;
	border-color: var(--color-gray-300);
}

@media (min-width: 768px) {
	.pagination {
		gap: var(--space-xs);
		margin-top: var(--space-xl);
		margin-bottom: var(--space-md);
		font-size: 0.9rem;
	}

	.button {
		padding: calc(var(--space-05) * 0.75) var(--space-xs);
		min-width: calc(var(--space-md) * 1.25);
		height: calc(var(--space-md) * 1.5);
	}
}
