.layout {
	display: flex;
	align-items: flex-start;
	gap: var(--space-lg);
}

.main {
	flex: 1;
}

.aside {
	display: none;
}

@media (min-width: 768px) {
	.layout {
		gap: var(--space-lg);
	}

	.main {
		min-width: 0;
	}

	.aside {
		display: flex;
		width: var(--aside-width);
		position: sticky;
		top: var(--space-lg);
	}
}
