.section {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.title {
	font-weight: 400;
	font-size: 0.9rem;
	color: var(--color-text-secondary);
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xs);
}
